# Plantilla para asignar los valores a las variables de entorno para la BD.
# El sistema gestor de base de datos (SGDB) puede ser [sqlite, postgresql]
# http://docs.sqlalchemy.org/en/latest/core/engines.html
SERIAUTH_DB_SGDB=
SERIAUTH_DB_USERNAME_SECRET=
SERIAUTH_DB_PASSWORD_SECRET=
SERIAUTH_DB_NAME_SECRET=
SERIAUTH_DB_HOST_SECRET=
